body.admin-menu .navbar-fixed-top {
  z-index: 998;
  top: 29px;
}

html body.admin-menu {
  margin-top: 97px !important;
}

@media (min-width: 801px){
  .main-container {
    margin-top: 100px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
  }  
}


@media (max-height: 320px){
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
  }
  .main-container {
    margin-top: 10px;
  }
}