body.admin-menu .navbar-fixed-top {
  z-index: 998;
  top: 29px;
}

html body.admin-menu {
  margin-top: 97px !important;
}
  
.navbar .brand {
  margin-left: 0px;
}

.main-container {
  margin-top: 10px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
  position: static;
}

/**
 * Splash Page
 */
.page-login .main-container,
.page-login #navbar .container {
  width: 300px;
}

.page-login a.logo {
  width: 100%;
  float: none;
  display: block;
  text-align: center;
}
.page-login h1.brand {
  width: 100%;
  float: none;
  display: block;
  text-align: center;
}

.page-login .navbar-fixed-top {
  position: static;
}

.page-login form input,
.page-login form button.form-submit {
  width: 100%;
}

#block-connector-one-click-block .block-title {
  font-family: cursive;
  font-style: italic;
  text-align: center;
}